/*---------------------
  Profile Page
-----------------------*/
.profile__content {
    background: $white-color;
    border-radius: 30px;
    margin-bottom: 25px;
}

.profile__top {
    position: relative;
}

.profile__top__cover {

    a {
        display: block;

        img {
            border-radius: 30px 30px 0 0;
            height: 100%;
        }
    }
}

.profile__top__pic {
    height: 130px;
    width: 130px;
    position: absolute;
    left: 20px;
    bottom: -45px;

    @include respond (tab-middle) {
        bottom: 60px;
    }

    @include respond (phone) {
        bottom: 60px;
    }

    @include respond (phone-small) {
        bottom: 60px;
    }

    a {
        display: block;

        img {
            min-width: 100%;
            border: 5px solid $white-color;
            border-radius: 50px;
        }
    }
}

.profile__top__text {
    position: absolute;
    left: 180px;
    bottom: 20px;

    @include respond (tab-middle) {
        position: relative;
        left: 0;
        bottom: 0;
        padding: 30px 20px 0;
    }

    @include respond (phone) {
        position: relative;
        left: 0;
        bottom: 0;
        padding: 30px 20px 0;
    }

    @include respond (phone-small) {
        position: relative;
        left: 0;
        bottom: 0;
        padding: 45px 20px 0;
    }

    h5 {
        font-size: 20px;
        color: $white-color;
        font-weight: 600;
        margin-bottom: 2px;

        @include respond (tab-middle) {
            color: $heading-color;
            margin-bottom: 8px;
        }

        @include respond (phone) {
            color: $heading-color;
            margin-bottom: 8px;
        }

        @include respond (phone-small) {
            color: $heading-color;
            margin-bottom: 8px;
        }
    }

    span {
        color: $white-color;
        display: block;
        font-size: 14px;

        @include respond (tab-middle) {
            color: $heading-color
        }

        @include respond (phone) {
            color: $heading-color
        }

        @include respond (phone-small) {
            color: $heading-color
        }
    }
}

.profile__top__nav {
    padding: 18px 30px 18px 180px;

    @include respond (tab-middle) {
        padding: 18px 20px 30px 20px;
    }

    @include respond (phone) {
        padding: 18px 20px 30px 20px;
    }

    @include respond (phone-small) {
        padding: 18px 20px 30px 20px;
    }
}

.profile__top__nav__widgets {

    @include respond (phone) {
        margin-bottom: 10px;
    }
}

.profile__top__nav__widgets {

    .nav {
        border-bottom: none;
        display: inline-block;

        .nav-link {
            margin-bottom: 0;
            border: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background: transparent;
        }

        .nav-item {
            margin-right: 34px;
            display: inline-block;

            @include respond (tab-land) {
                margin-right: 0;
            }

            @include respond (phone) {
                margin-right: 0;
            }

            .nav-link {
                color: $heading-color;
                font-size: 15px;
                font-weight: 500;
                padding: 5px;

                &.active {
                    color: $primary-color;
                }
            }
        }
    }

    .more__link {
        display: inline-block;

        .more__link__item {
            font-size: 15px;
            font-weight: 500;
            color: $heading-color;
            padding: 5px;
            position: relative;
            cursor: pointer;

            &:hover {

                .dropdown {
                    top: 30px;
                    opacity: 1;
                    visibility: visible;
                }
            }

            span {
                position: relative;
                top: 2px;
            }

            .dropdown {
                position: absolute;
                left: 0;
                top: 50px;
                background: $white-color;
                box-shadow: 0px 3px 30px rgba(136, 163, 175, 0.25);
                width: 200px;
                padding: 5px 15px;
                opacity: 0;
                visibility: hidden;
                border-radius: 10px;
                z-index: 9;
                @include transition(all, .3s);

                @include respond (phone) {
                    right: 0;
                }

                a {
                    display: block;
                    font-size: 15px;
                    color: $heading-color;
                    font-weight: 500;
                    padding: 5px 0;
                }
            }
        }
    }
}

.profile__top__nav__links {
    text-align: right;

    @include respond (tab-middle) {
        text-align: left;
        margin-top: 15px;
    }

    @include respond (phone) {
        text-align: left;
    }

    a {
        display: inline-block;
        margin-right: 15px;
        padding: 5px;

        @include respond (desktop) {
            margin-right: 12px;
        }

        @include respond (tab-land) {
            padding: 0;
            margin-right: 8px;
        }

        @include respond (tab-middle) {
            margin-right: 15px;
        }

        @include respond (phone) {
            margin-right: 15px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.profile__chat {

    .message__right__chat {
        background: $white-color;
        border-radius: 20px;
        height: 770px;
        padding: 30px 30px 110px;
        position: relative;
        overflow-y: auto;

        .message__chat__item__text {

            @include respond (tab-land) {
                padding-left: calc(100% - 450px);
            }
        }

        .message__right__chat__form {
            width: calc(100% - 60px);
            left: 30px;
            bottom: 30px;

            @include respond (phone) {
                width: 100%;
                left: 0;
                bottom: 0;
            }
    
            @include respond (phone-small) {
                width: 100%;
                left: 0;
                bottom: 0;
            }
        }
    }
}

.profile__about {
    background: $white-color;
    padding: 30px;
    padding-bottom: 150px;
    border-radius: 20px;
}

.profile__about__info {

    @include respond (tab-middle) {
        overflow-x: auto;
    }

    @include respond (phone) {
        overflow-x: auto;
    }

    @include respond (phone-small) {
        overflow-x: auto;
    }

    &.profile__about__detail {
        margin-top: 50px;
    }

    h6 {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    table {
        width: 100%;

        tr {
            border-bottom: 1px solid #ebebeb;

            td {
                padding-bottom: 20px;
                padding-top: 20px;

                &.about__op {
                    font-size: 15px;
                    color: $heading-color;
                    width: 330px;

                    @include respond (tab-port) {
                        width: 220px;
                    }

                    @include respond (tab-middle) {
                        width: auto;
                    }
        
                    @include respond (phone) {
                        width: auto;
                    }
        
                    @include respond (phone-small) {
                        width: auto;
                    }
                }

                &.about__op__text {
                    font-size: 15px;
                    color: $heading-color;
                }

                &.about__edit {
                    text-align: right;
                }
            }
        }
    }
}